/* You can add global styles to this file, and also import other style files */
.rowClass1 {
  background-color: green;
}

.rowClass2 {
  background-color: bisque;
}

.rowClass2 td {
  border:1px solid gray !important;
}
